ion-content.fondo{
    --background: url(../../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
}

.imagen{
    width:90%;
    --border-radius: 12px;
    text-align:center;
    margin:10px
}

.fondo1{
    background-color: rgba(0, 0, 0, 0) !important;
  }
  
  .fondo2{
    background-color:  rgba(37, 37, 34, 0.911) !important;
  }

  ion-icon {
    font-size: 50px;
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(58, 53, 53);
  }

.fondo3{
  --background:rgb(165, 154, 121);
}

.cabecera{
  --background:#ecc00fd0 !important;
}

.boton{
  --background: rgb(195, 144, 50);

}