<ion-header [translucent]="true">
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Creador de Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <mat-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)" class="fondo1">

    <mat-step [stepControl]="secondFormGroup" label="" class="fondo3">
      <form [formGroup]="secondFormGroup">

        <center>
          <h2>Presentacion</h2>
        </center>

        <ion-item class="ion-margin-bottom">
          <ion-input placeholder="Titulo de la receta" [(ngModel)]=nreceta.nom_receta [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Descripcion"  [(ngModel)]=nreceta.descripcion rows=7 [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">

      <center>
        <h2>Ingredientes</h2>
      </center>
      <ion-row class="ion-margin-bottom">
        <ion-col size="6">
          <ion-item>
            <ion-input [(ngModel)]="ingrediente"></ion-input>
          </ion-item>
        </ion-col >
        <ion-col size="3">
          <ion-item>
            <ion-input [(ngModel)]="cantidad"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-icon name="add-circle-outline" (click)="agregar()"></ion-icon>
        </ion-col>
      </ion-row >

      <hr />

      <form [formGroup]="secondFormGroup">

        <table style="border-collapse:separate; border-spacing:0px 20px;">
          <thead>
            <tr>
              <th style="width: 20%">
                Ingrediente
              </th>
              <th style="width: 10%">
                Cantidad
              </th>
              <th style="width: 10%">
                Acciones
              </th>
              
            </tr>
          </thead>
          <tr *ngFor="let row of rows">
            <th *ngFor="let column of headers">
              {{row[column]}}
            </th>
            <th>
              <ion-icon name="trash" (click)="deleteRow(row)" style="font-size: 25px"></ion-icon>
            </th>
          </tr>
        </table>


      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">
      <form [formGroup]="secondFormGroup">
        <center>
          <h2>Preparacion</h2>
        </center>

        <ion-item>
          <ion-textarea placeholder="Preparacion" [(ngModel)]=nreceta.preparacion rows=15 [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">
      <form [formGroup]="secondFormGroup">
        <center>
          <h2>Otros</h2>
        </center>

        <mat-slider min="1" max="100"></mat-slider>

        
        <ion-item>
          <ion-label>Imagen</ion-label>
          <ion-input type="file"></ion-input>
        </ion-item>

      </form>
    </mat-step>

  </mat-stepper>

</ion-content>

<ion-footer class="ion-no-border" slot="bottom">
  <ion-toolbar >
    <center>
      <button *ngIf="startOfForm" mat-button (click)="Anterior()">Cancelar</button>
      <button *ngIf="!startOfForm" mat-button (click)="Anterior()">Anterior</button>

      <button *ngIf="!endOfForm" mat-button (click)="Siguente()">Siguente</button>
      <button *ngIf="endOfForm" mat-button (click)="prueba()" (click)="xdxd()">Finalizar</button>

    </center>
  </ion-toolbar>
</ion-footer>