<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Creador de Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="">

  <mat-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">

    <mat-step [stepControl]="secondFormGroup" label="">
      <form [formGroup]="secondFormGroup">

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">
      <ion-input [(ngModel)]="ingrediente"> Ingrediente </ion-input>
      <ion-input [(ngModel)]="cantidad"> Cantidad </ion-input>
      <ion-button (click)="agregar()"></ion-button>
      <form [formGroup]="secondFormGroup">
        
        <table>
          <tr>
            <th *ngFor = "let column of headers">
              {{column}}
            </th>
          </tr>
          <tr *ngFor = "let row of rows">
            <th *ngFor = "let column of headers">
              {{row[column]}}
            </th>
            <th>
              <button (click)="deleteRow(row)">Eliminar</button>
            </th>
          </tr>
        </table>

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">
      <form [formGroup]="secondFormGroup">

      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="">
      <form [formGroup]="secondFormGroup">

      </form>
    </mat-step>

  </mat-stepper>






</ion-content>

<ion-footer class="ion-no-border" slot="bottom">
  <ion-toolbar>
    <center>
      <button *ngIf="startOfForm" mat-button (click)="Anterior()">Cancelar</button>
      <button *ngIf="!startOfForm" mat-button (click)="Anterior()">Anterior</button>

      <button *ngIf="!endOfForm" mat-button (click)="Siguente()">Siguente</button>
      <button *ngIf="endOfForm" mat-button (click)="Siguente()">Finalizar</button>

    </center>
  </ion-toolbar>
</ion-footer>