<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <div class="fondo1" style="border-radius: 15px; margin-top: 5px;">

      <h1 class="ion-text-center ion-margin-vertical ion-padding-top titulo" style="margin: 16px 0; padding-top: 32px">Registro</h1>

      <form style="margin-top: 15px;">
        <ion-item class="barras">
          <ion-label position="floating">Nombre:</ion-label>
          <ion-input [(ngModel)]="nuevoUsuario.nombre" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input [(ngModel)]="nuevoUsuario.apellido" [ngModelOptions]="{standalone: true}" ></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Fecha de Nacimiento:</ion-label>
          <ion-datetime displayFormat="DD / MMMM / YYYY" [(ngModel)]="nuevoUsuario.fnacimiento" [ngModelOptions]="{standalone: true}"></ion-datetime>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Correo:</ion-label>
          <ion-input [(ngModel)]="nuevoUsuario.email" [ngModelOptions]="{standalone: true}" type="text"></ion-input>
        </ion-item>

        <ion-item class="barras">
          <ion-label position="floating">Contraseña:</ion-label>
          <ion-input [(ngModel)]="nuevoUsuario.contrasena" [ngModelOptions]="{standalone: true}" type="password"></ion-input>
        </ion-item>

        <ion-button class="boton" (click)="registrar()" type="submit">Registrar</ion-button>
      </form>
    </div>
  </center>
</ion-content>