<ion-header [translucent]="true">
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title style="margin-left: 44px;">Tus Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo1">


<div>
  <ion-list>

    <ion-item *ngFor="let i of lista" class="lista">
      <ion-icon slot="end" name="ellipsis-vertical-outline" (click)="presentActionSheet(i.nombre)"></ion-icon>
      <ion-label [routerLink]="['/receta']">{{i.nombre}}</ion-label>
    </ion-item>

  </ion-list>
</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/nueva-receta']" class="boton">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="TEST()" class="boton">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>