.container {
    position: relative;
    text-align: center;
    color: white;
  }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size:19px
}

.box {
  line-height:200px;
  font-size:20px;
  background:
  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))0 100%/100% 50px  no-repeat,
  url(../../../assets/icon/panqueques.jpg) ;
}

.avatar {
  background-image: url('../../../assets/icon/Jorge.png');
  background-size: cover;
}

ion-toolbar{
  --background:#ecc00fd0 !important;
}

.fondo1{
   background-color: rgb(114, 107, 86);
}

.fondo2{
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
}

.car{
  color: rgb(0, 228, 19);
}

.descrip{
  border: 10px solid rgb(114, 107, 86);
}