.container {
    position: relative;
    text-align: center;
    color: white;
  }

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size:19px
}

.box {
  line-height:200px;
  font-size:20px;
  background:
  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))0 100%/100% 50px  no-repeat,
  url(../../../assets/icon/panqueques.jpg) ;
}

.avatar {
  background-image: url('../../../assets/icon/Jorge.png');
  background-size: cover;
}

ion-toolbar{
  --background:#ecc00fd0 !important;
}

ion-content{
  --background:rgb(136, 126, 98);
}

.fondo1{
  background-color: rgb(0, 0, 0);
}

.fondo2{
  --background: rgb(0, 0, 0) !important;
}

.car{
  color: rgb(0, 224, 19);
}

.descrip{
  border-radius:20px; 
  margin-top: 25px; 
  margin-bottom:25px; 
  width:88%; 
  background:black;;
}

p{
  margin:0 auto; 
  text-align: center; 
  width:85%;
  font-family:Satisfy;
  font-size:17px;
}

@font-face{
  font-family: 'Satisfy';
  src:url('/src/assets/fonts/Satisfy-Regular.ttf');
}

.boton{
  --background: rgb(195, 144, 50);

}