<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only (click)="favorito()" *ngIf="!estadoFav">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button ion-button icon-only (click)="favorito()" *ngIf="estadoFav">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="box">
      p
    </div>
    <div class="bottom-left">
      <h2>{{receta.nom_receta}}</h2>
    </div>
  </div>
  <center>
    <div class="container descrip">
      <h2>Descripción</h2>
      <p>{{receta.descripcion}}</p>
      <ion-row style="margin-top: 20px;">
        <ion-col size=6>
          <p class="car">{{receta.id_difi}}</p>
        </ion-col>
        <ion-col size=6>
          <p class="car">{{receta.tiempo}} Minutos</p>
        </ion-col>
      </ion-row>
    </div>
  </center>

  <mat-accordion>
    <mat-expansion-panel class="fondo1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ingredientes:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tbody>
          <tr *ngFor="let data of ingredientes; let i = index">
            <td *ngFor="let y of data" style="padding-left: 20px;">
              {{ y }}
            </td>
          </tr>
        </tbody>
      </table>

    </mat-expansion-panel>
    <mat-expansion-panel class="fondo1" style="margin-bottom: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Preparación:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span style="white-space: pre-line"> {{receta.preparacion}} </span>
    </mat-expansion-panel>
  </mat-accordion>

  <ion-card style="--background:rgb(22, 22, 22);">

    <ion-card-header>
      <img style="width:20%; border-radius:50%;" src="../../../assets/icon/Jorge.png">
      <label>{{nombreUsuario}}</label>
    </ion-card-header>

    <ion-card-content>
      <ion-item style="margin-top: 20px;--background:rgb(199, 198, 197);">
        <ion-textarea [(ngModel)]="comentario" placeholder="Deja un comentario"></ion-textarea>
      </ion-item>
      <ion-button expand="full" class="boton" (click)="enviarComentario()">Enviar Comentario</ion-button>
    </ion-card-content>

  </ion-card>

  <div *ngFor="let items of comentariosBD">
    <div>
      <ion-row>
        <ion-col size="2">
          <img style="border-radius:40%; margin-left: 20px;" src="../../../assets/icon/Jorge.png">
        </ion-col>
        <ion-col style="margin-left: 20px;" size="6">
          <label style="font-size: 20px;"> {{items.nombre}} {{items.apellidos}} </label> <br>
          <label style="color: rgb(19, 19, 19); font-size: 15px;"> {{items.fecha_valor | date:"dd/MM/yyyy, h:mm a" }}
          </label>
        </ion-col>
        <ion-col *ngIf="items.id_usu == idusuario">
          <ion-button style="--background: rgba(104, 0, 0, 0.349); height: 35px; padding-top: 5px;"
            (click)="alertCtrlEliminar(items.id_valor)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 0px; margin-right: 0px;">
        <p style="font-size: 18px; word-wrap: break-word; white-space: normal; text-align: justify;">
          {{items.comentario}}</p>
      </ion-row>
    </div>
  </div>

</ion-content>