<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button ion-button icon-only (click)="favorito()" *ngIf="!estadoFav">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button ion-button icon-only (click)="favorito()" *ngIf="estadoFav">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="box">
      p
    </div>
    <div class="bottom-left">
      <h2>{{receta.nom_receta}}</h2>
    </div>
  </div>
  <center>
    <div class="container descrip">
      <h2>Descripción</h2>
      <p class="p">{{receta.descripcion}}</p>
      <ion-row style="margin-top: 20px;">
        <ion-col size=6>
          <p class="car">{{receta.id_difi}}</p>
        </ion-col>
        <ion-col size=6>
          <p class="car">{{receta.tiempo}} Minutos</p>
        </ion-col>
      </ion-row>
    </div>
  </center>

  <mat-accordion>
    <mat-expansion-panel class="fondo1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ingredientes:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tbody>
          <tr *ngFor="let data of ingredientes; let i = index">
            <td *ngFor="let y of data" style="padding-left: 20px;">
              {{ y }}
            </td>
          </tr>
        </tbody>
      </table>

    </mat-expansion-panel>
    <mat-expansion-panel class="fondo1" style="margin-bottom: 20px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Preparación:
        </mat-panel-title>
      </mat-expansion-panel-header>
      <span style="white-space: pre-line"> {{receta.preparacion}} </span>
    </mat-expansion-panel>
  </mat-accordion>

  <ion-card style="--background:rgb(22, 22, 22);">

    <ion-card-header>
      <ion-row>

     
      <ion-col size="3">
        <div>
          <ion-avatar slot="start">
            <img [src]="imagenUsuario">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="7">
        <h2>{{nombreUsuario}}</h2>
      </ion-col>
    </ion-row>
     
    </ion-card-header>

    <ion-card-content>
      <ion-item style="margin-top: 20px;--background:rgb(199, 198, 197);">
        <ion-textarea [(ngModel)]="comentario" placeholder="Deja un comentario"></ion-textarea>
      </ion-item>
      <ion-button expand="full" class="boton" (click)="enviarComentario()">Enviar Comentario</ion-button>
    </ion-card-content>

  </ion-card>

  <div *ngFor="let items of comentariosBD">
    <div class="comen">
      <ion-row>
        <ion-col size="2">
          <div>
            <ion-avatar slot="start">
              <img style="margin-left: 20px; margin-right: 5px;" [src]="items.imagen">
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col style="margin-left: 20px;" size="6">
          <label class="pres"> {{items.nombre}} {{items.apellidos}} </label> <br>
          <label class="fech"> {{items.fecha_valor | date:"dd/MM/yyyy, h:mm a" }}
          </label>
        </ion-col>
        <ion-col size="2" *ngIf="items.id_usu == idusuario">
          <ion-button class="eli" (click)="alertCtrlEliminar(items.id_valor)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: 0px; margin-right: 0px;">
        <div class="container">
          <p class="p2">
            {{items.comentario}}</p>
        </div>

      </ion-row>
    </div>
  </div>

</ion-content>