ion-content.fondo{
    --background: url(../../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
  }
  
  h1{
    margin-top: 40px;
    width: 70%;
  }
  
  .barras{
    color:rgb(255, 255, 255);
    border:rgb(104, 101, 101)2px solid;
    border-radius: 30px !important;
    margin-bottom:10px !important;
    --background:#00000094 !important;
    width:90%;
  }
  
  .boton{
    --background:rgb(195, 144, 50);
    width:80%;
    margin:0 auto;
  }
  
  .boton1{
    --background:#000000b6;
    border:rgb(104, 101, 101)2px solid;
    border-radius: 10px !important;
    }
  
  .fondo1{
    background-color: rgba(0, 0, 0, 0.712);
  }

  .titulo{
    color:rgb(255, 255, 255);
  }


