ion-content{
    --background: url(../../../assets/icon/fondo.jpg) no-repeat center/cover fixed;
}

ion-toolbar{
    --background:rgba(0, 0, 0, 0.219) !important;
}

.fondo1{
    background-color: rgba(0, 0, 0, 0.712);
  }

.boton{
    --background:rgb(195, 144, 50);
    width:80%;
    margin:0 auto;
    margin-top:40px ;
}

p,h3{
    color:rgb(255, 254, 254);
}