<ion-header>
  <ion-toolbar class="cabecera">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Admininstrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">Usuarios</h2>

  <mat-accordion>
    <mat-expansion-panel class="fondo1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Id: 1
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Nombre:  <br>
        Apellidos: <br>
        Fecha de Nacimiento: <br>
        Email: <br>
        Tipo de Usuario:</p>
    </mat-expansion-panel>
  </mat-accordion>
</ion-content>