ion-content{
    --background: rgb(0,0,0);
}

.cabecera{
    --background:rgba(236, 192, 15, 0.816) !important;
}

.titulo{
    margin-left:25%;
    color:rgb(0, 0, 0);
}

.subti{
    color:rgb(255, 255, 255);
    text-align: center;
}